<div style="margin-top: -80px;">
  <div class="container-fluid vh-100" >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form method="post">
            <div class="mb-3">
                <label for="nome" class="col-form-label">Nome de usuário: </label>
                <input type="text" class="form-control form-control-lg" id="nome" name="nome" placeholder="Digite seu nome">
            </div>
            <div class="mb-3">
                <label for="senha" class="col-form-label">Senha: </label>
                <input type="password" class="form-control form-control-lg" id="senha" name="senha" placeholder="Digite sua senha">
            </div>
          <div class="d-flex justify-content-end">
            <a href="#" class="text-body">Forgot password?</a>
          </div>
          <div class="text-center text-lg-start mt-4 pt-2 mb-4">
            <input type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" value="Entrar"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>