<h2>Detalhes da Categoria</h2>
<hr>
<form method="post">
    <div class="mb-3 row">
        <div class="col-sm-3">Nome da Categoria: </div>
        <div class="col-sm-9"><strong>{{dados.nome}}</strong></div>
    </div>
      <div class="mb-3 row">
       <div class="col-sm-3">tempo: </div>
        <div class="col-sm-9"><strong>{{dados.tempo}}</strong></div>
    </div>
      <div class="mb-3 row">
       <div class="col-sm-3">tipo: </div>
        <div class="col-sm-9"><strong>{{dados.tipo}}</strong></div>
    </div>
    <div class="mb-3 row">
       <div class="col-sm-3">Descrição: </div>
        <div class="col-sm-9"><strong>{{dados.descricao}}</strong></div>
    </div>
    <hr>
    <a href="/privado/categorias">
        <button type="button" class="btn btn-primary">Fechar</button>
    </a>
</form>