<div class="">
    {{#if success_msg}}
    <div class="alert alert-success alert-dismissible topmenu mt-3 mb-0 mx-5" role="alert" id="myAlert">
        <div>{{success_msg}}</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}

    {{#if error_msg}}
        <div class="alert alert-danger alert-dismissible topmenu mt-3 mb-0 mx-5" role="alert" id="myAlert">
            <div>{{error_msg}}</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {{/if}}


    <script>
        // Função para remover o alerta após 5 segundos
        setTimeout(function() {
            let alert = document.getElementById('myAlert');
            if (alert) {
                alert.style.display = 'none'; // Esconde o alerta
            }
        }, 3000); // 5000 milissegundos = 5 segundos
    </script>
</div>