<h2>Deletar Usuário</h2>
<hr>
<form method="post">
    <div class="mb-3 row">
        <div class="col-sm-3">Nome de usuário: </div>
        <div class="col-sm-9"><strong>{{dados.nome}}</strong></div>
    </div>
    <div class="mb-3 row">
       <div class="col-sm-3">E-mail: </div>
        <div class="col-sm-9"><strong>{{dados.email}}</strong></div>
    </div>
    <hr>
    <div class="d-flex flex-column align-items-center mt-5">
        <div>
            Tem certeza que deseja deletar o usuário <strong>{{dados.nome}}</strong>?
        </div>
        <hr>
        <div>
            <input type="submit" value="Sim" class="btn btn-success"/>
            <a href="/privado/usuarios">
                <button type="button" class="btn btn-danger">Não</button>
            </a>
        </div>
        
    </div>
    
</form>