<h2>Detalhes do Usuário</h2>
<hr>
<form method="post">
    <div class="mb-3 row">
        <div class="col-sm-3">Nome de usuário: </div>
        <div class="col-sm-9"><strong>{{dados.nome}}</strong></div>
    </div>
    <div class="mb-3 row">
       <div class="col-sm-3">E-mail: </div>
        <div class="col-sm-9"><strong>{{dados.email}}</strong></div>
    </div>
    <hr>
    <a href="/privado/usuarios">
        <button type="button" class="btn btn-primary">Fechar</button>
    </a>
</form>