<h2>Detalhes do Produto</h2>
<hr>
<form method="post">
    <div class="mb-3 row">
        <div class="col-sm-3">Nome do Produto: </div>
        <div class="col-sm-9"><strong>{{dados.nome}}</strong></div>
    </div>
    <div class="mb-3 row">
       <div class="col-sm-3">Categoria: </div>
        <div class="col-sm-9"><strong>{{dados.categoria}}</strong></div>
    </div>
     <div class="mb-3 row">
       <div class="col-sm-3">Preço: </div>
        <div class="col-sm-9"><strong>{{dados.preco}}</strong></div>
    </div>
     <div class="mb-3 row">
       <div class="col-sm-3">Descrição: </div>
        <div class="col-sm-9"><strong>{{dados.descricao}}</strong></div>
    </div>
    <hr>
    <a href="/privado/produtos">
        <button type="button" class="btn btn-primary">Fechar</button>
    </a>
</form>